<%= link_to("edit", edit_cat_path(@cat)) %>
<%= link_to("delete", cat_path(@cat), method: :delete, data: {confirm: "are you sure you want to delete?"}) %>
<%= link_to("addtask", new_schedule_path(cat_id: @cat)) %>

<table>
  <tr>
    <th>
      Name
    </th>
    <td>
      <%= @cat.name %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>
      Task
    </th>
    <th>
      Scheduled
    </th>
    <th>
      Status
    </th>
  </tr>

  <% @schedules.each do |schedule| %>
    <tr>
      <td>
        <%= link_to(schedule.task.title, schedule_path(schedule)) %>
      </td>
      <td>
        <%= schedule.scheduled_at %>
      </td>
      <td>
      <%= schedule.status %>
      </td>
    </tr>
  <% end %>
</table>